*{padding: 0;margin: 0; box-sizing: border-box;}
.container{
    background: url(bg.jpg);    
    width: 100%; height: 100vh;
    background-size: cover;  background-position: center;
    overflow: hidden;
}
.overlay{background: linear-gradient(200deg, rgba(0,0,0,0.9), #25ca7f); width: 100%; height: 100%;
    animation: color 10s linear infinite;  position: relative;}

.caption{position: absolute; transform: translate(-50%,-50%); top: 50%; left: 50%; color: #fff;}    
@keyframes color{
    50%{background: linear-gradient(180deg,  rgba(0,0,0,0.7), #25ca7f);}
    70%{background: linear-gradient(180deg,  rgba(0,0,0,0.5), #25ca7f);}
    100%{
    background: linear-gradient(180deg,  rgba(0,0,0,0.5), #25ca7f);
    transform: translate(100%);}
}